.container {
  background-color: white;
  height: 50%;
  /*border: 5px solid #6fed77;*/
}

.recorder {
  border-right: 6px solid #aaaaaa;
}

.fa-microphone {
  margin: 20% auto;
  padding-left: 10%;
  font-size: 10rem;
  color: #aaaaaa;
}

.recorded-text {
  padding-top: 7%;
  line-height: 100%;
  font-weight: 700;
  font-size: 1.7rem;
  color: #aaaaaa;
}

.submit {
  background-color: #6fed77;
}

.fa-check {
  font-size: 7rem;
  padding-top: 30%;
  padding-left: 16%;
  color: white;
}