.container {
  background-color: white;
  height: 50%;
  /*border: 5px solid #6fed77;*/
}

.recorder {
  border-right: 6px solid #6fed77;
  text-align: center;
}

.fa-microphone {
  margin: 20% auto;
  font-size: 7rem;
  color: #aaaaaa;
  cursor: pointer;
}

.microphone-clicked {
  margin: 20% auto;
  font-size: 7rem;
  color: #CB3837;
}

.recorded-text {
  padding-top: 7%;
  line-height: 100%;
  font-weight: 700;
  font-size: 1.7rem;
  color: #aaaaaa;
}

.submit {
  background-color: #6fed77;
  text-align: center;
}

.fa-check {
  font-size: 5rem;
  padding-top: 30%;
  color: white;
}

@media only screen and (max-width: 767px) {
  .fa-microphone {
    margin: 10% auto;
    font-size: 7rem;
    color: #aaaaaa;
  }

  .recorder {
    border-bottom: 6px solid #6fed77;
    border-right: none;
    text-align: center;
  }

  .submit {
    background-color: #6fed77;
    text-align: center;
    height: 170px;
  }

  .text-display {
    height: 150px;
  }

  .fa-check {
    font-size: 5rem;
    color: white;
    padding-top: 15%;
  }
}